<div class="center-block" style= "width: 360px">

    <b>平台简介: </b>
    <p>
        科研活动是高等院校中一项非常活跃的主体，科研管理信息化是高校管理信息化的重要组成部分。目前，我校的科研活动经过长期发展，已经积累了大量的基础数据资源，对于我校原创性信息数据库建设起到了极大地推动作用。2014年底，为了更好地支持科研学术研究，加强不同院系间教师的科研协作，方便科研数据的共享，上海商学院科研处启动了“科研共享数据库平台建设”项目，以“信用管理科研数据库”、“星级酒店运营数据库”、“中国商业人才数据仓库”、“公共服务与社会组织数据库”、“上海物流行业发展研究数据库”、“零售业纠纷案例数据库”以及“国际移民政策与商业研究数据库”为基础数据资源建设对象，提供了统一的存储管理功能，并提供了数据资源查询与共享功能。
    </p>
</div>