<style>
    pull-left:
</style>

<div class="center-block" style= "width: 720px">
    <ul style="list-style-type: none;">
        <li style="height: 30px;">
            <div class="pull-left"><a href="http://kyc.sbs.edu.cn/html/keyandongtai/20150105/302.html"><b>我校2014年获多项省部级以上科研项目和科研获奖</b></a></div>
            <div class="pull-right"> 2015-01-05</div>
        </li><li style="height: 30px;">
        <div class="pull-left"><a href="http://kyc.sbs.edu.cn/html/keyandongtai/20150105/301.html"><b>我校积极推进硕士研究生联合培养工作</b></a></div>
        <div class="pull-right"> 2014-12-30</div>
    </li><li style="height: 30px;">
        <div class="pull-left"><a href="/html/keyandongtai/20141224/297.html"><b>我校一项目获2015年度上海市自然科学基金项目立项</b></a></div>
        <div class="pull-right"> 2014-12-22</div>
    </li><li style="height: 30px;">
        <div class="pull-left"><a href="/html/keyandongtai/20141209/295.html"><b>我校四项课题获2015年度上海市教委科研创新项目立项</b></a></div>
        <div class="pull-right"> 2014-12-09</div>
    </li><li style="height: 30px;">
        <div class="pull-left"><a href="/html/keyandongtai/20141201/293.html"><b>我校教师受邀参加G20峰会“首届东西方对话之旅游与中国梦”分会并作专题报告</b></a></div>
        <div class="pull-right"> 2014-11-22</div>
    </li><li style="height: 30px;">
        <div class="pull-left"><a href="/html/keyandongtai/20141201/294.html"><b>我校博士沙龙、学科馆员活动及科研课题申报交流活动圆满结束</b></a></div>
        <div class="pull-right"> 2014-11-12</div>
    </li><li style="height: 30px;">
        <div class="pull-left"><a href="/html/keyandongtai/20141027/288.html"><b>我校启动课题带教活动，提高青年教师科研能力</b></a></div>
        <div class="pull-right"> 2014-10-25</div>
    </li><li style="height: 30px;">
        <div class="pull-left"><a href="/html/keyandongtai/20141027/287.html"><b>PROSPER公司全球董事总裁Roger Saunders先生受邀来校开展讲座</b></a></div>
        <div class="pull-right"> 2014-10-24</div>
    </li><li style="height: 30px;">
        <div class="pull-left"><a href="/html/keyandongtai/20141008/279.html"><b>科研处召开2014年度校级青年科研创新团队建设项目答辩会</b></a></div>
        <div class="pull-right"> 2014-10-01</div>
    </li><li style="height: 30px;">
        <div class="pull-left"><a href="/html/keyandongtai/20141008/280.html"><b>科研处召开我校特色学科方向建设项目答辩会</b></a></div>
        <div class="pull-right"> 2014-10-01</div>
    </li>
    </ul>
</div>